<ol class="breadcrumb">
    <a class="breadcrumb-item" href="/articles/list">Articles</a>
    <a class="breadcrumb-item active" href="/articles/edit">Edit</a>
    <span class="breadcrumb-item active"></span>
</ol>

<h1 class="display-4">Edit Article</h1>

<form action="/articles/update/<%= article.id %>" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="<%= article.title %>" class="form-control">
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea name="body" rows="6" id="body" class="form-control"><%= article.body %>
        </textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="px-3 btn btn-outline-warning">
                <i class="fa fa-edit mr-1"></i>
                Update
            </button>
    </div>
</form>